.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-robot {
    display: flex;
    align-items: start;
}

.chat-message-text {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    margin: 0 10px 20px 10px;
    padding: 15px 25px;
    max-width: 300px;
}

.chat-message-container {
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

/* .available-command {
    width: 50%;
    margin: auto;
} */

.available-commands {
    margin-bottom: 12px;
    color: rgb(118, 118, 118);
    font-size: 13px;
    line-height: 1.6;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.available-commands .line {
    white-space: pre-wrap;
}

.available-commands .cmd {
    color: #00ff9c;
}
